<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts/jquery-3.5.1.min.js')}}"></script>
    {% block links %}

    {% endblock %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <div class="background">
    </div>
    <div class="page">
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
    <footer class="footer">
        <span>Designed by Vasiliy Pozhinskiy © 2021</span>
    </footer>
</div>
</body>
</html>